[submodule "stationapi"]
	path = stationapi
	url = git@github.com:Wimzer/stationapi.git
[submodule "dsrc"]
	path = dsrc
	url = git@github.com:Wimzer/dsrc.git
[submodule "src"]
	path = src
	url = git@github.com:Wimzer/src.git
[submodule "serverdata"]
	path = serverdata
	url = git@github.com:Wimzer/serverdata.git
[submodule "exe"]
	path = exe
	url = git@github.com:Wimzer/configs.git
	ignore = dirty

